body {
  margin: auto;
  max-width: 100%;
  font-family: $font-main;
  font-size: 16px;
}

/*animation home*/

.animhome_delay{
animation: animhome 6.5s;
}

@keyframes animhome{
  0%{
opacity:0.3;
  }
  75%{
    opacity: 0.3;
  }
  100%{
opacity: 1;
  }
}

#boxload{
  width: 20em;
  height: 20em;
  position: absolute;
  top: 40%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #354146;
  animation: animdisp 5s forwards;
  z-index: 1;
  pointer-events:none;
}

.title-load{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  color: white;
  font-family: $font-title;
  font-size: 30px;
}


#boxballs{
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 50%;
}

.ball1,
.ball2{
background-color: $home-ball1;
width: 1em;
height: 1em;
border-radius: 50%;
}

.ball1{
transform-origin: 50% -100px;
animation: ball1 1s ease-out infinite alternate; 
}


.ball3,
.ball4{
background-color: $home-ball2;
width: 1em;
height: 1em;
border-radius: 50%;
}

.ball5,
.ball6{
background-color: $home-ball3;
width: 1em;
height: 1em;
border-radius: 50%;
}

.ball6{
transform-origin: 50% -100px;
animation: ball6 1s ease-out 1s infinite alternate; 
}

@keyframes ball1{
0%, 50%{
transform: rotate(0);
}
100%{
transform: rotate(60deg);
}
}

@keyframes ball6{
  0%, 50%{
  transform: rotate(0);
  }
  100%{
  transform: rotate(-60deg);
  }
  }

  @keyframes animdisp{
    0%, 99%{
opacity:1;
    }
    100%{
opacity: 0;
    }
  }

/* Fin animation home*/

img {
  max-width: 100%;
  max-height: 100%;
}

a:link {
  text-decoration: none;
}

button {
  @include button_omf;
}

.bold {
  font-family: $font-main-bold;
}
.font-title {
  font-family: $font-title;
}

#bloc_home_top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

nav {
  padding-bottom: 2em;
}

.marge_h2_home {
  display: flex;
  justify-content: center;
}

#bloc_home1 {
  display: flex;
  justify-content: center;
  background-color: $bgcolor-secondary;
  padding: 1em;
}

#bloc_home2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: $bgcolor-main;
}

.border_figure {
  border-radius: 100%;
  position: relative;
  left: -2.1em;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.blocs_fonc {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.3rem;
  font-size: 1rem;
  width: auto;
  margin-left: 2em;
  margin-right: 2em;
  background-color: $bgcolor-main;
  &:hover {
    background-color: #f2eafb;
  }
}

.marge_home {
  padding-left: 0.5em;
}

.line_button {
  display: flex;
  justify-content: center;
  background-color: $bgcolor-main;
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  #boxload{
    width: 18em;
    height: 18em;
  }

  nav {
    flex-direction: column;
    margin-right: 0.5em;
    margin-left: 1.5em;
  }

  .marge_h2_home {
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
  }

  .blocs_fonc {
    max-width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  button{
  @include button_omf_resp;
  }
}
