img {
    max-width: 100%;
    max-height: 100%;
  }

  .bold{
    font-family: $font-main-bold;
  }
  
  /* Head */
  header{
  display: flex;
  justify-content: center;
  }
  
  .h1_page{
      width: 80%;
  }
  
  .top_page{
      display: flex;
      justify-content: center;
  }

  .font-title {
    font-family: $font-title;
  }
  
  .photos_pages{
      width: 100%;
      height: 30em;
      object-fit: cover;
  }
  
  .pos_icon{
      display: flex;
      justify-content: flex-start;
      position: relative;
      top: 3em;
  }
  
  /* section */

  #bloc_section_page1{
      margin: 0 auto;
      width: 80%;
      border-radius: 20px;
      position: relative;
      top: -4em;
      background-color: $bgcolor-main;
  }
  
  #h2_page2{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  }
  
  .order_blocs{
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  }
  
  .blocs_meals{
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  }
  
  .meals{
  border-radius: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 2px solid black;
  }

  .mealandprice{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-top: -2em;
  }

  .button_bot_pages{
      padding-bottom: 2em;

  }
  
  @media screen and (max-width: 768px) {
  
  #pos_icon{
  display: flex;
  justify-content: flex-start;
  }
  
  #bloc_section_page1{
      width: 100%;
  }
  
  .order_blocs{
      display: flex;
      flex-direction: column;
  }
  
  .blocs_meals{
      margin: 0;
      }
  
  }

  @media screen and (max-width: 480px) {
    body,
    .button_bot_pages{
      font-size: $font-size-responsive;
    }
  }