@font-face {
  font-family: "Shrikhand-Regular";
  src: url("police/Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("police/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("police/Roboto-Bold.ttf");
}

/* FONT */
/* COLOR */
body {
  margin: auto;
  max-width: 100%;
  font-family: "Roboto-Regular", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a:link {
  text-decoration: none;
}

button {
  border-radius: 100px;
  padding: 0.3em 1.5em;
  font-size: 23px;
  font-weight: 400;
  width: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(purple));
  background-image: linear-gradient(pink, purple);
  color: white;
}

.bold {
  font-family: "Roboto-Bold";
}

.font-title {
  font-family: "Shrikhand-Regular", cursive;
}

#bloc_home_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  padding-bottom: 2em;
}

.marge_h2_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bloc_home1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  padding: 1em;
}

#bloc_home2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.border_figure {
  border-radius: 100%;
  position: relative;
  left: -2.1em;
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blocs_fonc {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.3rem;
  font-size: 1rem;
  width: auto;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #f6f6f6;
}

.blocs_fonc:hover {
  background-color: #f2eafb;
}

.marge_home {
  padding-left: 0.5em;
}

.line_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0.5em;
    margin-left: 1.5em;
  }
  .marge_h2_home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blocs_fonc {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  body,
  button,
  .blocs_fonc {
    font-size: 5vmin;
  }
}

#bloc_section_home {
  background-color: #f6f6f6;
  padding-top: 2em;
  padding-bottom: 2em;
}

#blocs_restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc_restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  display: inline;
}

.border {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin: 1em;
  overflow: hidden;
}

.photo_rest {
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.text_icone {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.text_img {
  margin-left: 0.5em;
}

.pos_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5em;
}

.size-icon {
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .bloc_restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1em;
    margin-left: 1em;
  }
  .border {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .text_icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer {
  background-color: #354146;
  padding-top: 1em;
  padding-bottom: 1em;
}

#title-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#bloc_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.marge_footer {
  margin-right: 0.5em;
}

.links_footer {
  text-decoration: none;
  color: white;
  padding-right: 8em;
}

@media screen and (max-width: 768px) {
  #title-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 1em;
  }
  #bloc_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em;
  }
  .links_footer {
    margin-bottom: 8px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.bold {
  font-family: "Roboto-Bold";
}

/* Head */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h1_page {
  width: 80%;
}

.top_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.font-title {
  font-family: "Shrikhand-Regular", cursive;
}

.photos_pages {
  width: 100%;
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
}

.pos_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: 3em;
}

/* section */
#bloc_section_page1 {
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
  position: relative;
  top: -4em;
  background-color: #f6f6f6;
}

#h2_page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.order_blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.blocs_meals {
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.meals {
  border-radius: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: white;
  padding: 0 0.5em;
}

.meal {
  padding-top: 1em;
}

.mealandprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -2em;
}

.button_bot_pages {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  #pos_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #bloc_section_page1 {
    width: 100%;
  }
  .order_blocs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blocs_meals {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  body,
  .button_bot_pages {
    font-size: 5vmin;
  }
}
/*# sourceMappingURL=main.css.map */