@font-face {
  font-family: "Shrikhand-Regular";
  src: url("police/Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("police/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("police/Roboto-Bold.ttf");
}

/* FONT */
/* COLOR */
body {
  margin: auto;
  max-width: 100%;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
}

/*animation home*/
.animhome_delay {
  -webkit-animation: animhome 6.5s;
          animation: animhome 6.5s;
}

@-webkit-keyframes animhome {
  0% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animhome {
  0% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

#boxload {
  width: 20em;
  height: 20em;
  position: absolute;
  top: 40%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #354146;
  -webkit-animation: animdisp 5s forwards;
          animation: animdisp 5s forwards;
  z-index: 1;
}

.title-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  color: white;
  font-family: "Shrikhand-Regular", cursive;
  font-size: 30px;
}

#boxballs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50%;
}

.ball1,
.ball2 {
  background-color: purple;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.ball1 {
  -webkit-transform-origin: 50% -100px;
          transform-origin: 50% -100px;
  -webkit-animation: ball1 1s ease-out infinite alternate;
          animation: ball1 1s ease-out infinite alternate;
}

.ball3,
.ball4 {
  background-color: pink;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.ball5,
.ball6 {
  background-color: #99e2d0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.ball6 {
  -webkit-transform-origin: 50% -100px;
          transform-origin: 50% -100px;
  -webkit-animation: ball6 1s ease-out 1s infinite alternate;
          animation: ball6 1s ease-out 1s infinite alternate;
}

@-webkit-keyframes ball1 {
  0%, 50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@keyframes ball1 {
  0%, 50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@-webkit-keyframes ball6 {
  0%, 50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}

@keyframes ball6 {
  0%, 50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}

@-webkit-keyframes animdisp {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animdisp {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fin animation home*/
img {
  max-width: 100%;
  max-height: 100%;
}

a:link {
  text-decoration: none;
}

button {
  border-radius: 100px;
  padding: 0.3em 1.5em;
  font-size: 23px;
  font-weight: 400;
  width: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(purple));
  background-image: linear-gradient(pink, purple);
  color: white;
}

.bold {
  font-family: "Roboto-Bold";
}

.font-title {
  font-family: "Shrikhand-Regular", cursive;
}

#bloc_home_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  padding-bottom: 2em;
}

.marge_h2_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bloc_home1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  padding: 1em;
}

#bloc_home2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.border_figure {
  border-radius: 100%;
  position: relative;
  left: -2.1em;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blocs_fonc {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.3rem;
  font-size: 1rem;
  width: auto;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #f6f6f6;
}

.blocs_fonc:hover {
  background-color: #f2eafb;
}

.marge_home {
  padding-left: 0.5em;
}

.line_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0.5em;
    margin-left: 1.5em;
  }
  .marge_h2_home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blocs_fonc {
    max-width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  button {
    border-radius: 100px;
    padding: 0.3em 1.5em;
    font-size: 5vmin;
    font-weight: 400;
    width: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(purple));
    background-image: linear-gradient(pink, purple);
    color: white;
  }
}

#bloc_section_home {
  background-color: #f6f6f6;
  padding-top: 2em;
  padding-bottom: 2em;
}

#blocs_restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc_restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  display: inline;
}

.border {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin: 1em;
  overflow: hidden;
}

.photo_rest {
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.text_icone {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.text_img {
  margin-left: 0.5em;
}

/*
  .pos_icon_heart{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
  }*/
.pos_icon_heart:hover .empty_heart {
  display: none;
}

.pos_icon_heart:hover .full_heart {
  display: block;
}

.full_heart {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(pink), to(purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.size-icon {
  font-size: 1.5em;
}

.marge_h2 {
  position: relative;
  left: 0.5em;
}

@media screen and (max-width: 768px) {
  .bloc_restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1em;
    margin-left: 1em;
  }
  .border {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .text_icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer {
  background-color: #354146;
  padding-top: 1em;
  padding-bottom: 1em;
}

#title-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#bloc_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.marge_footer {
  margin-right: 0.5em;
}

.links_footer {
  text-decoration: none;
  color: white;
  padding-right: 8em;
}

@media screen and (max-width: 768px) {
  #title-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 1em;
  }
  #bloc_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em;
  }
  .links_footer {
    margin-bottom: 8px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.bold {
  font-family: "Roboto-Bold";
}

/* Head */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#h1_page {
  width: 80%;
}

.font-title {
  font-family: "Shrikhand-Regular", cursive;
}

.photos_pages {
  width: 100%;
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
}

.pos_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: 3em;
}

/* section */
.pos_icon_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5em;
}

.top_img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.bloc_section_page {
  margin: 0 auto;
  width: 80%;
  background-color: #f6f6f6;
}

.h2_page {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  bottom: 0;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
}

.order_blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.5em 2em 0.5em;
}

.h3_pages {
  border-bottom: 3px solid #99e2d0;
  width: 2.7em;
}

.blocs_meals {
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.meals {
  border-radius: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: white;
  padding: 0 0.5em 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis ".";
  white-space: nowrap;
}

.meals:hover .end_meal {
  -webkit-transform: translatex(-78px);
          transform: translatex(-78px);
}

.meals:hover .icon-check {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

/*Animation*/
.anim_meal {
  opacity: 0;
  -webkit-animation: animmeal 1000ms forwards;
          animation: animmeal 1000ms forwards;
}

.anim_meal1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.anim_meal2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.anim_meal3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.anim_meal4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animmeal {
  from {
    opacity: 0;
    position: relative;
    top: 1em;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@keyframes animmeal {
  from {
    opacity: 0;
    position: relative;
    top: 1em;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

/* Fin Animation*/
.meal {
  white-space: nowrap;
  margin-bottom: -0.5em;
}

.mealandprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.end_meal {
  position: relative;
  left: 5.6em;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

/* Icone */
.icon-check {
  display: none;
  font-size: 15px;
  border-radius: 50px;
  color: #99e2d0;
  background-color: white;
  padding: 10px 10px;
  margin-right: 1em;
  margin-left: 1em;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.pos_icone {
  background-color: #99e2d0;
  padding: 1.85em 0.5em 2em 0.5em;
  position: relative;
  top: -16px;
  margin-left: 12px;
}

.button_bot_pages {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  #h1_page {
    width: 95%;
  }
  .pos_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .h2_page {
    width: 100%;
  }
  .bloc_section_page {
    width: 100%;
  }
  .order_blocs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
  }
  .blocs_meals {
    margin-bottom: 3em;
    width: auto;
  }
  .meals {
    margin-right: 0.5em;
    text-overflow: none;
    white-space: none;
  }
  .end_meal {
    position: relative;
    left: 5.6em;
  }
}

@media screen and (max-width: 480px) {
  body,
  .end_meal,
  .button_bot_pages {
    font-size: 5vmin;
  }
}
/*# sourceMappingURL=main.css.map */