/* Animation home */

@keyframes animhome {
  0% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* Animation balls */

@keyframes ball1 {
  0%,
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes ball6 {
  0%,
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-60deg);
  }
}

@keyframes animdisp {
  0%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation logo */

@keyframes logonew {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* Animation coeur */

@keyframes animheart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Animation icones */

@keyframes animicone {
  to {
    position: relative;
    left: 0;
  }
  from {
    position: relative;
    left: -78px;
  }
}

/* Animation menu */

@keyframes animmeal {
  from {
    opacity: 0;
    position: relative;
    top: 1em;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}
